// .book-slider {
//     display: block;
//     width: max-content;
//     overflow-x: scroll;
// }

// .book-card {
//     display: inline;
// }

.book-slider-title {
    padding: 0 10px;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
    border-bottom: 2px black solid;
}   