<div class="card">
    <img *ngIf="bookImage" [src]="bookImage" alt="{{getTitle()}}">
    <div class="title-section">
        <div class="title">{{getTitle()}}</div>
        <button><mat-icon class="material-icons green" aria-hidden="false">edit</mat-icon></button>
    </div>
    <form [formGroup]="formData">
        <label for="">Quantité</label>
        <input type="number"  min="0" name="quantity" formControlName="quantity" id="quantity" required="required">
        <label for="">Prix</label>
        <input type="number" step="0.01" min="0" name="price" formControlName="unitPrice" id="price" required="required">
        <input type="submit" value="Enregistrer" (click)="submit()">
        <input type="button" value="Annuler">
    </form>
</div>