<div class="wrapper">
    <section id="section1">
    <a href="#section3" class="arrow__btn">‹</a>
    <div *ngFor="let e of bookList">
        <div class="item">
                <input type="image" src="https://products-images.di-static.com/image/j-k-rowling-harry-potter-tome-3-harry-potter-et-le-prisonnier-d-azkaban/9782070584925-475x500-1.jpg">
        </div>
    </div>
    <a href="#section2" class="arrow__btn">›</a>
    </section>
    <section id="section2">
    <a href="#section1" class="arrow__btn" >‹</a>
    <div>
    <div class="item">
                <input type="image" src="https://products-images.di-static.com/image/j-k-rowling-harry-potter-tome-3-harry-potter-et-le-prisonnier-d-azkaban/9782070584925-475x500-1.jpg">
        </div>
    </div>
    <a href="#section3" class="arrow__btn">›</a>
    </section>
    
    <section id="section3">
    <a href="#section2" class="arrow__btn">‹</a>
    <div>
    <div class="item">
                <input type="image" src="https://products-images.di-static.com/image/j-k-rowling-harry-potter-tome-3-harry-potter-et-le-prisonnier-d-azkaban/9782070584925-475x500-1.jpg">
        </div>
    </div>
    <a href="#section1" class="arrow__btn">›</a>
    </section>
    
    </div>