.dialog-titre {
    display: block;
    font-size: 54px;
    margin: 10px;
    padding: 10px;
    padding-bottom: 50px;
}

.dialog-message {
    display: block;
    font-size: 24px;
    margin: 10px;
}

// .dialog-button {

// }

.bold {
    font-weight: bolder;
}

.material-icons {
    font-size: 48px;
}

.center {
    text-align: center;
}

img {
    height: 200px;
}