li {
    display: inline-block;
    list-style-type: none;
}

.active{
<<<<<<< HEAD
    color: red;
    
}

.mat-toolbar{
    background-color: rgb(54, 83, 79);
}

a{
    color: grey;
=======
    color: rgb(255, 0, 0);
>>>>>>> dany
}