div .book-slider {
}

.book-slider-title {
    display: block;
}

.book-card-frame {
    display: inline-block;
    margin: 0px 35px;
    width: 140px;
    height: 180px;
}

img {
    // display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}