<app-banner></app-banner>
<app-book-slider [title]="trending1"></app-book-slider>
<app-book-slider [title]="trending2"></app-book-slider>

<!-- Affichage de la présentation de library que si une library est défini -->
<div *ngIf="libraryProche.name != undefined">
    <app-library-presentation [library]="libraryProche"></app-library-presentation>
</div>

<app-book-slider [title]="trending2"></app-book-slider>

<app-book-slider [title]="trending2"></app-book-slider>


<!-- Affichage de la catégorie Aventure que si au moins un livre de cette catégorie est présent -->
<div *ngIf="booksAventure.length > 0">
    <app-book-slider [title]="trendingAventure" [books]="booksAventure"></app-book-slider>
</div>

<!-- Affichage de la catégorie Fantasy que si au moins un livre de cette catégorie est présent -->
<div *ngIf="booksFantasy.length > 0">
    <app-book-slider [title]="trendingFantasy" [books]="booksFantasy"></app-book-slider>
</div>
