@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900);

body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    // font-family: 'Poppins', sans-serif;
    // background: #436d6d;
    background: linear-gradient(to right, #6cbeb8, #084a4d);
}

.text-gray{
    color: #aaa
}
img{height: 100%;width: 140px}

.container{
    margin-top: 2%;
    margin-bottom: 2%;

    width: 100%;
    border-radius: 20px;
    background-color: white;
    justify-content: center;
    
}

h2 {
    font-size: 2.8em;
    padding: 10px 0;
    font-weight: 500;
  }