<!-- <body>
    <h1>{{book.title}}</h1>
    <h2>Synopsys:</h2>
    <p>{{book.synopsys}}</p>
    <h3>Année de parution du livre : {{book.year}}</h3>
    <h4>ISBN : {{book.isbn}}</h4>
</body> -->
    
<!-- contenu -->
<div class="cdk-overlay-container">
    <div id="cdk-overlay-0" class="cdk-overlay-pane" dir="ltr" *ngIf="book != undefined">
        <div class="container">
            <div class="imgBx">
                <img src="{{book.urlImage}}" alt="courverture">
            </div>
            <div class="details">
                <div class="content">
                    <h2>{{book.title}}<br>
                        <span>J. K. Rowling</span><br>
                        <span>ISBN : {{book.isbn}}</span><br>
                        <span>Année de parution : {{book.year}}</span>
                    </h2>

                    <p>
                        {{book.synopsys}}
                    </p>
                    <h3>10€</h3>

                    <button (click)="openDialogPurchage()">Acheter</button>
                </div>
            </div>
        </div>
    </div>
</div>