<!-- <div class ="bookList">
    <p>test liste de livre</p>
    <div *ngfor="let e of bookList">
        <div class = "item">
            <input type ="text" src="{{e.id}}">
            <input type ="text" src="{{e.bookName}}">
            <input type ="text" src="{{e.syn}}">
        </div>
    </div>
</div> -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  </head>
<div class="container">
  <h2>Liste des livres</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Synopsys</th>
        <th>ISBN</th>
        <th>Year</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
        <td>{{book.id}}</td>
        <td><a href="book/{{book.id}}">{{book.title}}</a></td>
        <td>{{book.synopsys}}</td>
        <td>{{book.isbn}}</td>
        <td>{{book.year}}</td>
      </tr>
    </tbody>
  </table>
</div>

