// form{
//     background-color: rgba(0, 0, 0, 0.099);
//     padding: 50px;
// }

$input-width: 35rem;
section{
    background-color: white;
}
:host {
  display: block;
}

.drop-down-input {
  width: $input-width;
}
.drop-down-input-active {
  z-index: 100000;
}
.drop-down-serch-panel {
  width: $input-width + 10rem;
  min-height: 5rem;
  padding: 1rem;
  box-sizing: border-box;

  &_controls {
    display: flex;
    margin: -1rem -1rem 0 -1rem;
    padding: 1rem;
    box-sizing: border-box;
  }
}
.result-item {
  display: flex;
  padding: 0.7rem;
  box-sizing: border-box;
  align-items: center;
}

.btn-2 {
  --p: 5px;
  border: none;
  background: none;
  color: white !important;
  border: solid 1px;
  border-radius: 3px;
  padding-top: var(--p);
  padding-bottom: var(--p);
  font-family: var(--font-3);
  margin-left: 10px;
  position: relative;
  bottom: 0;
}