/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/**| VARIABLES |**/
body {
  --font-1: "Yeseva one";
  --font-2: "Lora";
  --font-3: "Montserrat";
  --color-grad-1: #6cbeb8;
  --color-grad-2: #084a4d;
  --color-text-1: #3d4f66;
  --color-text-default: #40464c;
  --color-border: #40464c80;
  --color-selected: #429533;
}
.hide { display: none; }

/**| COMMON |**/

/** Headers **/
h1 {
  font-family: var(--font-1) !important;
  font-size: 23pt !important/* 2.8em */;
  padding: 10px 0;
  font-weight: 800;
}

h2, .book-slider-title {
  padding: 0;
  font-size: 17pt;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 40px;
  text-transform: capitalize;
  font-family: var(--font-3);
  color: var(--color-text-1);
  margin-left: 20px;
  width: fit-content;
}  
h2:after {
  content: "";
  border: solid 1px var(--color-selected);
  display: block;
  width: 100%;
  border-radius: 1px;
  opacity: 0.5;
}

.jr-quote {
  text-align: left;
  font-family: var(--font-2) !important;
  letter-spacing: 1px !important;
}

/** buttons **/

.jr-add-btn {
  border: solid 1px;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 3px;
  color: var(--color-selected);
}

.jr-editable {
  display: flex;
  flex-direction: column-reverse;
  
  .jr-input, .jr-textarea {
      border-color: var(--color-border) !important;
  }
  .jr-input {
      height: 35px;
      outline: none;
      padding-left: 10px;
      padding-right: 10px;
      border: solid 1px;
      border-radius: 3px;
      width: 100%;
      font-weight: 500;
      font-size: 10pt;
      &:not([readonly]):focus {
          color: var(--color-selected) !important;
          border-color: var(--color-selected) !important; 
          & ~ .jr-label {
              color: var(--color-selected) !important;
          }
      }
  }
  .jr-label {
      position: relative;
      background: white !important;
      width: fit-content;
      padding: 6px;
      padding-bottom: 0;
      top: 10px;
      left: 5px;
      font-weight: 600;
      font-size: 9pt;
      letter-spacing: 1px;
  }
  .jr-textarea {
      width: 100%;
      outline : none !important;
      padding : 15px;
      &:not([readonly]) { border-color: var(--color-selected) !important; }
  }
}

.jr-btn {
  border: none; outline: none !important;
  background: none !important;
  color: var(--color-selected) !important;
  width: fit-content !important;
  padding: 0;
  padding-bottom: 3px;
  border-bottom: solid 1px;
  cursor: pointer;
}
.jr-btn-group > .jr-btn { 
  margin-right: 10px; 
}
.jr-input-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/**| CORRECTIFS |**/
.owl-stage {
    padding-top: 25px;
    padding-bottom: 25px;
}
.mat-drawer {
  width: 300px !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
