.container {
    display: inline-block;
    height: 95%;
    width: 99%;
    text-align: center;
    vertical-align: middle;
}

.message {
    margin-top: 10%;
    font-size: 32px;
}

.grand {
    font-size: 42px;
    font-weight: bolder;
}