<!-- <form class="form-example">
  <div class="form-example">
    <label for="bookName">Nom du livre: </label>
    <input type="text" name="bookName" id="name" required>
  </div>
  <div class="form-example">
    <label for="synopsys">synopsys du livre: </label>
    <input type="text" name="synopsys" id="synopsys" required>
  </div>
  <div class="form-example">
    <button (click)="onClickTestHttp()">Test HTTP POST</button>
  </div>
</form>
<button ><a routerLink="">retourner à l'accueil</a></button> -->

<form #createBook="ngForm" (ngSubmit)="creationLivre(createBook.value)">
  <input type="text" name="title" ngModel placeholder="titre du livre" required><br><br>
  <input type="text" name="synopsys" ngModel placeholder="synopsys du livre" required><br><br>
  <button type="submit">Valider la création</button>
</form>