<div class="container-fluid">

    <div class="headings">
        <form #libraryName = "ngForm">
            <input  [(ngModel)]="library.name" type="text" name="name"  class="h1" [readonly]="!this.titleEdit"/>
            <button [ngClass]="{'hide': this.titleEdit != false}" (click)="toggleTitleEdit()"> modifier </button>
            <div    [ngClass]="{'hide': this.titleEdit == false}" class="jr-btn-group">
                <button [disabled]="!this.titleEdit" (click)="updateTitle()"> save   </button>
                <button [disabled]="!this.titleEdit" (click)="resetTitle ()"> cancel </button>
            </div>
        </form>
    </div>

    <h2>Outils</h2>
    <div class="tooltip">
        <a href="#">Gérer les stocks</a><br/>
        <a href="#">Ajouter un livre</a><br/>
        <a href="#">Voir les commandes</a><br/>
    </div>

    <h2> Informations </h2>
    <div class="section">
    
        <h3 class="section-title">Adresse</h3>
        
        <form #LibraryAddress = "ngForm">
            <div class="jr-editable">
                <input  [(ngModel)]="library.address.streetName" type="text" class="jr-input" name="streetName"  [readonly]="!this.addressEdit"/>
                <div class="jr-label">Rue</div>
            </div>
    
            <div class="jr-editable">
                <input  [(ngModel)]="library.address.complementaryField" type="text" class="jr-input" name="complementaryField"  [readonly]="!this.addressEdit"/>
                <div class="jr-label">Complément d'adresse</div>
            </div>
    
            <div class="jr-editable">
                <input  [(ngModel)]="library.address.zipCode" type="text" class="jr-input" name="zipCode"  [readonly]="!this.addressEdit"/>
                <div class="jr-label">Code postal</div>
            </div>
    
            <div class="jr-editable">
                <input  [(ngModel)]="library.address.city" type="text" class="jr-input" name="city"  [readonly]="!this.addressEdit"/>
                <div class="jr-label">Ville</div>
            </div>
    
            <div class="jr-editable">
                <input  [(ngModel)]="library.address.country" type="text" class="jr-input" name="country"  [readonly]="!this.addressEdit"/>
                <div class="jr-label">Pays</div>
            </div>
    
            <button [ngClass]="{'hide': this.addressEdit != false}" (click)="toggleAddressEdit()">modifier</button>
            <div    [ngClass]="{'hide': this.addressEdit == false}" class="jr-btn-group">
                <button [disabled]="!this.addressEdit" (click)="updateAddress()">save</button>
                <button [disabled]="!this.addressEdit" (click)="resetAddress()">cancel</button>
            </div>
        </form>

    </div>

</div>