.gestion-stock { 
    // margin-left: 20px;
    width: 85%;
    margin-top: 35px; 
    h1 {
        font-family: var(--font-3) !important;
        font-weight: 600;
        color: var(--color-text-default);
    }
}