<!-- <section class="gestion-stock">
    <h1>Stocks</h1>
    <section class="option-stock">
        <div class="">
            <button>Ajout rapide</button>
        </div>
        <div class="">
            <label for="">Disponible en magasin</label>
            <input type="search" name="search-bar" id="search-bar" placeholder="Titre recherché...">
            <input type="submit" value="rechercher">
        </div>
    </section>
    <section class="liste-stock">
        <app-stocks-list [type]="getManagementType()"></app-stocks-list>
    </section>
</section> -->
<div class="gestion-stock container-fluid">
    <h1>Gestion de Stocks</h1>
    <router-outlet></router-outlet>
</div>